<!DOCTYPE html>
<html>
  <head></head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    "
  >
    <div
      style="
        width: 600px;
        text-align: center;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      "
    >
      <div style="text-align: center; padding: 10px">
        <img src="cid:<%= cidLogo %>" alt="logo" style="max-height: 75px" />
      </div>

      <span
        style="
          font-weight: 700;
          font-size: 22px;
          text-align: center;
          margin-top: 20px;
        "
        >Hi <%=user%></span
      >

      <p
        style="
          font-weight: bold;
          font-family: Arial;
          font-size: 16px;
          text-align: center;
          margin-top: 20px;
        "
      >
        Your Account has been Activated Successfully
      </p>

      <p
        style="
          font-family: Arial;
          font-size: 14px;
          text-align: center;
          margin-top: 20px;
        "
      >
        Thank you for joining us! Your account has been validated, and you can
        now start enjoying the features of MWW on Demand Merch Maker.<br /><br /><br />
      </p>
    </div>
  </body>
</html>
